.titleBox {
    align-items: center;
    text-align: center;
}

p {
    background-color: hsl(141, 64%, 90%);
    border-style: solid;
    border-radius: 1px;
    padding: 2px;
}

form {
    display: grid;
}

.container {
    display: flex;
}

#bottlesContainer {
    display: flex;

}

#new-bottle {
    display: grid;
}

#bottlesContainer:nth-child(n) {
    border: 5px;
    border-radius: 5px;
}

.bottle {
    display: grid;
}

#solution {
    display: flex;
}